html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-size: cover;
}

.board {
    display: grid;
    grid-template-columns: repeat(7, 30px);
    grid-gap: 2px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 10px;
    border-radius: 5px;
}

.cell {
    width: 30px;
    height: 30px;
    position: relative;
}

.cell > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.water {
    background-image: url('../images/woer.jpg');
    background-size: cover;
}

.ship {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ShipCarrierHull {
    background-image: url('../images/Carrier/ShipCarrierHull.png');
    height: 122px; /* 4 cells * 30px + 2px gap * 3 */
}

.ShipDestroyerHull {
    background-image: url('../images/Destroyer/ShipDestroyerHull.png');
    height: 92px; /* 3 cells * 30px + 2px gap * 2 */
}

.ShipPatrolHull {
    background-image: url('../images/PatrolBoat/ShipPatrolHull.png');
    height: 62px; /* 2 cells * 30px + 2px gap * 1 */
}

.rotate-90 {
    transform-origin: top left;
    transform: rotate(90deg) translateX(30px);
}

.hit {
    background-image: url('../images/Boom.png');
    background-size: cover;
}

.miss {
    background-image: url('../images/miss.png');
    background-size: cover;
}
